table{
  width: 100%;
  border: 1px solid #eeeeee;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

h3{
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  color: grey;
}

a:hover{
  opacity: 0.9;
}

td{
  height: 3rem;
}

td img{
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 100rem;
}
