<div class="container">
  <div class="details">
    <app-title title="Register"></app-title>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <text-input
      [control]="fc.name"
      [showErrorsWhen]="isSubmitted"
      label="Name">
    `</text-input>

    <text-input
    [control]="fc.email"
    [showErrorsWhen]="isSubmitted"
    label="Email"
    type="email">
  `</text-input>


  <text-input
  [control]="fc.password"
  [showErrorsWhen]="isSubmitted"
  label="Password"
  type="password">
`</text-input>

<text-input
[control]="fc.confirmPassword"
[showErrorsWhen]="isSubmitted"
label="Confirm Password"
type="password">
`</text-input>

<text-input
[control]="fc.address"
[showErrorsWhen]="isSubmitted"
label="Address">
`</text-input>


<default-button text="Register"></default-button>

<div class="login">
  Already a user? &nbsp;
  <a routerLink="/login" [queryParams]="{returnUrl: returnUrl}">
    Login Here
  </a>
</div>


    </form>
  </div>
</div>
