.container{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffffea;
  z-index: 10000;
  top: 0;
  left: 0;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

img{
  border-bottom: 10px solid brown;
  width: 200px;
  height: 200px;
}

h1{
color: brown;
text-transform: lowercase;
}

